<!doctype html>
<!DOCTYPE html>
<html>
    <head>
        <title>finstagram</title>
    </head>
        <body>
            <header>
                <h1>Finstagram</h1>
            </header>    
            <main role=main">
                <article class="post">
                    <div class="user-info">
             <img src="http://naserca.com/images/sharky_j.jpg" alt=sharky_j>
             <h2>sharky_j</h2>
             <h3>15 minutes ago</h3>
                </div>
                    <a class="photo" href="#">
                <div class="actions">
                    <img src="http:/naserca.com/images/shark.png" alt="post from sharky_j.jpg">
                    </a>
                </div>
             </article>
             <article>
             <div>
             0 likes
             <span class="comment-count">0 comments</span>
             </div>
             <ul class="comments>
                 <li>
                     <p>
                         shark_j: Out for the long weekend... too embaressed to show y'all this beach bod!
                     </p>
                </li>
            </ul>        
            </div>
            </article>
            
        
        
        
        </body>
</html>
